<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245384420905-1lma8hak9k36tleagjvhhi1nm4id5ja7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245384420905-1lma8hak9k36tleagjvhhi1nm4id5ja7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>245384420905-k11ta73fahln72b6ivp35594c19970pu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATTLQsn_acF0XHiNHVG24y8Dy7OdtD89E</string>
	<key>GCM_SENDER_ID</key>
	<string>245384420905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nilApp</string>
	<key>PROJECT_ID</key>
	<string>nilstream</string>
	<key>STORAGE_BUCKET</key>
	<string>nilstream.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245384420905:ios:9bd0985a883da0156e4638</string>
	<key>DATABASE_URL</key>
	<string>https://nilstream-default-rtdb.firebaseio.com</string>
</dict>
</plist>